html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-rendering: geometricPrecision;
  line-height: 1.3;
  color: #333;
  background-color: #fff;
}
body.hidden {
  overflow: hidden;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Roboto", sans-serif;
  text-rendering: geometricPrecision;
  border: 0;
  color: #000;
  font-size: 1rem;
  background-color: transparent;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: unset;
  color: inherit;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  color: inherit;
  color: #fb0505;
}

.link-decoration:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.mx-auto {
  margin: auto;
}

/*===========================================================================*/
.font-arial {
  font-family: "Arial", sans-serif;
}

/*===========================================================================*/
.w-1080 {
  max-width: 1080px;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

/*=================================================================*/
.d-3xl-none {
  display: none;
}

.d-3xl-block {
  display: block;
}

.d-3xl-flex {
  display: flex;
}

.d-3xl-grid {
  display: grid;
}

.d-3xl-inline {
  display: inline-block;
}

.d-3xl-inline-flex {
  display: inline-flex;
}

/*=================================================================*/
.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #e7bb6e;
  color: #fff;
  font-weight: bold;
  outline: none;
}

/*===========================================================================*/
.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-48 {
  font-size: 3rem;
}

/*=================================================================*/
.image-wrapper {
  position: relative;
  display: block;
  padding-bottom: 60%;
}

.image-wrapper-full {
  position: relative;
  display: block;
  padding-bottom: 100%;
}

.image-wrapper-150 {
  position: relative;
  display: block;
  padding-bottom: 150%;
}

.image-wrapper img,
.image-wrapper-full img,
.image-wrapper-150 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*=================================================================*/
.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-red-6d {
  color: #6d1d1d;
}

.text-red-48 {
  color: #481e01;
}

.text-gray-33 {
  color: #333;
}

.text-gray-44 {
  color: #444;
}

.text-gray-77 {
  color: #777;
}

.text-gray-4f {
  color: #4f4f4f;
}

.text-yellow-e5 {
  color: #e5b764;
}

/*=================================================================*/
.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-transparent {
  background-color: transparent;
}

.bg-yellow-e3 {
  background-color: #e3ca9a;
}

.bg-red-69 {
  background-color: #69452b;
}

/*=================================================================*/
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*=================================================================*/
.pt-4 {
  padding-top: 0.25rem;
}

.pb-4 {
  padding-bottom: 0.25rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.py-4 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-4 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.p-4 {
  padding: 0.25rem;
}

.mt-4 {
  margin-top: 0.25rem;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.mr-4 {
  margin-right: 0.25rem;
}

.my-4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mx-4 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.m-4 {
  margin: 0.25rem;
}

/*=================================================================*/
.pt-8 {
  padding-top: 0.5rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.py-8 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-8 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.p-8 {
  padding: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.my-8 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-8 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.m-8 {
  margin: 0.5rem;
}

/*=================================================================*/
.pt-10 {
  padding-top: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mr-10 {
  margin-right: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.m-10 {
  margin: 0.625rem;
}

/*=================================================================*/
.pt-12 {
  padding-top: 0.75rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.py-12 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-12 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p-12 {
  padding: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.my-12 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mx-12 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.m-12 {
  margin: 0.75rem;
}

/*=================================================================*/
.pt-15 {
  padding-top: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.p-15 {
  padding: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.m-15 {
  margin: 0.9375rem;
}

/*=================================================================*/
.pt-16 {
  padding-top: 1rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pr-16 {
  padding-right: 1rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-16 {
  padding: 1rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.ml-16 {
  margin-left: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-16 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-16 {
  margin: 1rem;
}

/*=================================================================*/
.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.m-20 {
  margin: 1.25rem;
}

/*=================================================================*/
.pt-24 {
  padding-top: 1.5rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-24 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-24 {
  padding: 1.5rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-24 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.m-24 {
  margin: 1.5rem;
}

/*=================================================================*/
.pt-30 {
  padding-top: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.py-30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.px-30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.p-30 {
  padding: 1.875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.my-30 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.mx-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.m-30 {
  margin: 1.875rem;
}

/*=================================================================*/
.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-40 {
  padding: 2.5rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.ml-40 {
  margin-left: 2.5rem;
}

.mr-40 {
  margin-right: 2.5rem;
}

.my-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.m-40 {
  margin: 2.5rem;
}

/*=================================================================*/
.border-999 {
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.border-full {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*=================================================================*/
.fix-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fix-text4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*=================================================================*/
.lh-1 {
  line-height: 1;
}

.lh-15 {
  line-height: 0.9375rem;
}

.lh-16 {
  line-height: 1rem;
}

.lh-19 {
  line-height: 1.1875rem;
}

.lh-22 {
  line-height: 1.375rem;
}

.lh-24 {
  line-height: 1.5rem;
}

.lh-26 {
  line-height: 1.625rem;
}

.lh-28 {
  line-height: 1.75rem;
}

.lh-30 {
  line-height: 1.875rem;
}

.lh-32 {
  line-height: 2rem;
}

.lh-34 {
  line-height: 2.125rem;
}

.lh-40 {
  line-height: 2.5rem;
}

.lh-140 {
  line-height: 140%;
}

.lh-150 {
  line-height: 150%;
}

/*=================================================================*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*=================================================================*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*=================================================================*/
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.flex-0 {
  flex-shrink: 0;
}

.flex-1 {
  flex: 1;
}

/*=================================================================*/
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

/*=================================================================*/
.gap-8 {
  grid-gap: 0.5rem;
}

.gap-16 {
  grid-gap: 1rem;
}

.gap-20 {
  grid-gap: 1.25rem;
}

.gap-24 {
  grid-gap: 1.5rem;
}

.gap-25 {
  grid-gap: 1.5625rem;
}

.gap-30 {
  grid-gap: 1.875rem;
}

/*=================================================================*/
.h-full {
  height: 100%;
}

.h-32 {
  height: 2rem;
}

.h-36 {
  height: 2.25rem;
}

.h-40 {
  height: 2.5rem;
}

.h-48 {
  height: 3rem;
}

.h-56 {
  height: 3.5rem;
}

/*=================================================================*/
.max-w-fit {
  max-width: fit-content;
}

/*=================================================================*/
.tracking-0125 {
  letter-spacing: 0.0125em;
}

/*=================================================================*/
.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.z-100 {
  z-index: 100;
}

/*=================================================================*/
.transition {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
}

/*=================================================================*/
.pointer {
  cursor: pointer;
}

/*=================================================================*/
.uppercase {
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.over-hidden {
  overflow: hidden;
}

.notification-text1 {
  margin-left: 10px;
  margin-right: 16px;
}

.header-container {
  gap: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.header-top__social {
  margin-right: 5px;
}
.header-top__social-item {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 999px;
}
.header-top__social-item:hover {
  background-color: rgba(109, 29, 29, 0.3);
}
.header-top__weather-location {
  position: relative;
  padding-left: 15px;
  margin-right: 10px;
  display: inline-block;
}
.header-top__weather-location::before {
  content: "|";
  position: absolute;
  color: #6d1d1d;
  font-size: 16px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header-top__weather-img {
  margin-left: 10px;
  margin-right: 10px;
}
.header-top__weather-img img {
  width: 24px;
  height: auto !important;
}
.header-top__search {
  cursor: pointer;
  padding: 5px 0 5px 5px;
}
.header-top__search img {
  width: 24px;
  height: auto !important;
}
.header-top__search.active .show-Pc {
  display: none;
}
.header-top__search.active .hidden-Pc {
  display: block;
}

.navbar {
  gap: 25px;
  font-size: 12px;
  align-items: end;
}
.navbar-item {
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
.navbar-item.active::before {
  content: "";
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #6d1d1d;
}
.navbar-item:hover .navbar-dropdown {
  display: block;
}
.navbar-dropdown {
  position: absolute;
  min-width: 150px;
  background: #e3ca9a;
  border-top: 2px solid red;
  top: calc(100% + 16px);
  left: 0;
  z-index: 20;
  display: none;
}
.navbar-dropdown::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: transparent;
  top: -20px;
  left: 0;
  right: 0;
}
.navbar-dropdown__link {
  padding: 5px 10px;
  display: block;
}
.navbar-dropdown__link img {
  width: 18px;
  height: auto !important;
}
.navbar-dropdown__link:hover {
  color: #fff;
  background-color: #69452b;
}

.search-box {
  position: absolute;
  border-top: 2px solid red;
  top: calc(100% + 16px);
  z-index: 50;
  right: 0;
  display: none;
}
.search-box.active {
  display: block;
}
.search-box__form {
  position: relative;
}
.search-box__input {
  background: #e3ca9a;
  color: #6d1d1d;
  font-size: 16px;
  padding: 10px 40px 10px 10px;
  min-width: 300px;
}
.search-box__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.show-Pc {
  display: block;
}

.hidden-Pc {
  display: none;
}

.sub-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  width: auto;
  color: #fff;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 0.2s;
}
.sub-menu.active {
  opacity: 1;
  visibility: visible;
  display: block;
}
.sub-menu__heading {
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.sub-menu__headingClose {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-menu__list {
  max-height: calc(100vh - 200px);
  margin-top: 30px;
  overflow: auto;
}
.sub-menu__item {
  margin-top: 10px;
  font-size: 13px;
  line-height: 150%;
  margin-bottom: 10px;
  color: #fff;
}
.sub-menu__item a {
  display: block;
  margin-bottom: 10px;
}

.header-container__mb .center-logo img {
  height: 60px;
  width: auto !important;
}
.header-container__mb .left-icon img {
  width: 20px;
  height: auto !important;
}
.header-container__mb .right-searchMb img {
  width: 24px;
  height: auto;
}
.header-container__mb .right-searchMb.active .show-Pc {
  display: none;
}
.header-container__mb .right-searchMb.active .hidden-Pc {
  display: block;
}
.header-container__mb .search-box {
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
}
.header-container__mb .search-box__input {
  min-width: 100%;
}

.w-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.fade-loading {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100rem;
  margin: 10px auto;
  position: relative;
}
.fade-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
  animation: fade 1s forwards infinite linear;
}

.fade-loading--secondary {
  width: 8px;
  height: 8px;
  background-color: #eb5757;
  border-radius: 100rem;
  position: relative;
  margin: 0 10px;
  display: inline-block;
}
.fade-loading--secondary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
  animation: fade 1s forwards infinite linear;
}

@keyframes fade {
  to {
    transform: scale(3);
    opacity: 0;
  }
}
.play-primary {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: rgba(229, 183, 100, 0.8);
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-primary img {
  width: 18px;
  height: auto !important;
}

.play-primary--small {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(229, 183, 100, 0.8);
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-primary--small img {
  width: 13px;
  height: auto !important;
}

.heading-primary__icon img {
  width: 45px;
  height: auto !important;
}

.breadcrumb-primary__heading .icon {
  margin-right: 10px;
}
.breadcrumb-primary__heading .icon img {
  width: 20px;
  height: auto !important;
}
.breadcrumb-primary__heading .text {
  color: #e5b764;
  font-weight: bold;
  margin-right: 15px;
}
.breadcrumb-primary .swiper-slide {
  width: auto !important;
}
.breadcrumb-primary .swiper-button-next,
.breadcrumb-primary .swiper-button-prev {
  width: 30px;
  height: 30px;
  margin-top: 0;
  background: #8c3414;
  color: #ffffff;
  transform: translateY(-50%);
}
.breadcrumb-primary .swiper-button-next:after,
.breadcrumb-primary .swiper-button-prev:after {
  font-size: 12px;
}
.breadcrumb-primary .swiper-button-next,
.breadcrumb-primary .swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
}
.breadcrumb-primary .swiper-button-next.swiper-button-disabled,
.breadcrumb-primary .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
  cursor: auto;
}
.breadcrumb-primary__item {
  padding: 5px 15px;
  width: auto;
  display: inline-block;
  border-radius: 7px;
  border: 1px solid #e0e0e0;
}

.ads-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-primary__container {
  position: relative;
  background-color: #481e01;
}
.section-primary__container .swiper-pagination-bullet {
  background: #c4c4c4;
  opacity: 1;
}
.section-primary__container .swiper-pagination-bullet-active {
  opacity: 1;
  background: #e5b764;
}
.section-primary__img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.section-secondary__left {
  width: calc(100% - 320px);
}
.section-secondary__left .article__large .article__content {
  background-color: #f1ede6;
}
.section-secondary__left .article__large .article__img {
  width: 63%;
}
.section-secondary__left .article__small .article {
  position: relative;
}
.section-secondary__left .article__small .article::before {
  content: "";
  position: absolute;
  right: -15px;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  background-color: #e0e0e0;
}
.section-secondary__left .article__small .article:last-child::before {
  content: none;
}
.section-secondary__right {
  width: 320px;
  padding-left: 20px;
}
.section-secondary__right .article__small .article {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}
.section-secondary__right .article__small .article:first-child {
  padding-top: 0;
}
.section-secondary__right .article__small .article:last-child {
  border-bottom: 0;
}

.section-tertiary__left {
  width: calc(100% - 320px);
}
.section-tertiary__left .top {
  padding: 20px;
  background-color: #ffe0b5;
}
.section-tertiary__left .articles .article {
  border-bottom: 1px solid #e0e0e0;
}
.section-tertiary__right {
  width: 320px;
  padding-left: 20px;
}

.box-right .article__small .article {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}
.box-right .article__small .article:first-child {
  padding-top: 0;
}
.box-right .article__small .article:last-child {
  border-bottom: 0;
}

.section-quaternary__container {
  background-color: #ede7d9;
  padding: 20px 20px 10px;
}
.section-quaternary .top-articles .swiper {
  padding-bottom: 40px;
}
.section-quaternary .top-articles .swiper-pagination-bullet {
  background: #c4c4c4;
  opacity: 1;
}
.section-quaternary .top-articles .swiper-pagination-bullet-active {
  opacity: 1;
  background: #e5b764;
}

.section-quinary__bg {
  position: absolute;
  inset: 0;
}
.section-quinary__bg img {
  height: 100%;
  width: 100%;
}
.section-quinary__content .article .article-public {
  display: none;
}
.section-quinary__content .article:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
}
.section-quinary__content .article:first-child .article-public {
  display: flex;
}
.section-quinary__content .article:first-child .article__title {
  font-size: 24px;
}

.section-senary__container {
  padding-bottom: 24px;
  border-bottom: 5px solid #f0eff4;
}
.section-senary .article-large {
  width: 480px;
  flex-shrink: 0;
}
.section-senary .article__small {
  flex: 1;
  grid-gap: 20px 30px;
}

.section-septenary__container {
  padding-bottom: 24px;
  border-bottom: 5px solid #f0eff4;
}
.section-septenary .article-large .article-social {
  justify-content: end;
  gap: 12px;
}
.section-septenary .article-large .article-social__link {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #8a8d91;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-octonary .article-large {
  width: 480px;
  flex-shrink: 0;
}
.section-octonary .article__small {
  flex: 1;
  grid-gap: 20px 30px;
}

.section-nonary__bg {
  position: absolute;
  inset: 0;
}
.section-nonary__bg img {
  height: 100%;
  width: 100%;
}
.section-nonary .article-large .article-social {
  justify-content: end;
  gap: 12px;
}
.section-nonary .article-large .article-social__link {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: #8a8d91;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-decenary__content {
  padding-bottom: 24px;
  border-bottom: 5px solid #f0eff4;
}
.section-decenary .article__small .article {
  border-bottom: 1px solid #e0e0e0;
}
.section-decenary .article__small .article:last-child {
  border-bottom: 0;
}
.section-decenary .article__small .article:first-child {
  padding-top: 0;
}

.section-udenary__content {
  padding-bottom: 24px;
  border-bottom: 5px solid #f0eff4;
}

.section-doudenary__container {
  padding-bottom: 24px;
  border-bottom: 5px solid #f0eff4;
}
.section-doudenary .article__img-gallery {
  grid-gap: 5px;
}
.section-doudenary .article__img-gallery .image-wrapper:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
.section-doudenary .article__img-gallery .image-wrapper:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.section-doudenary .article__img-gallery .image-wrapper:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.section-doudenary .swiper-button-next,
.section-doudenary .swiper-button-prev {
  top: 25px;
  width: 40px;
  height: 40px;
  background: #e5b764;
  border-radius: 7px;
  color: #fff;
}
.section-doudenary .swiper-button-prev,
.section-doudenary .swiper-rtl .swiper-button-next {
  left: auto;
  right: 60px;
}
.section-doudenary .swiper-button-next:after,
.section-doudenary .swiper-button-prev:after {
  font-size: 15px;
}

.section-tredenary__container img {
  width: 100%;
  height: auto;
  margin: auto;
}

.section-quadenary__content {
  background-color: #f1ede6;
  padding: 40px 20px;
}
.section-quadenary .swiper-button-next,
.section-quadenary .swiper-button-prev {
  top: 25px;
  width: 40px;
  height: 40px;
  background: #e5b764;
  border-radius: 7px;
  color: #fff;
}
.section-quadenary .swiper-button-prev,
.section-quadenary .swiper-rtl .swiper-button-next {
  left: auto;
  right: 60px;
}
.section-quadenary .swiper-button-next:after,
.section-quadenary .swiper-button-prev:after {
  font-size: 15px;
}

#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #69452b;
  border-radius: 0.25rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer-wrapper {
  padding-top: 70px;
}
.footer-navbar {
  padding-top: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}
.footer-content__left .ytb-page {
  background-color: #cc0000;
  border-radius: 4px;
  height: 50px;
  padding: 15px;
}
.footer-content__left .ytb-page a:hover {
  color: #fff;
}
.footer-content__center-list {
  padding-left: 30px;
}
.footer-content__center-list li {
  list-style-type: disc;
}
.footer-content__right {
  margin-top: 50px;
}
.footer-gradient {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(180deg, #fff 40%, transparent 100%);
  width: 100%;
  height: 100%;
}
.footer-bg {
  margin-top: -16%;
}
.footer-bg img {
  width: 100%;
  height: auto !important;
}

/*# sourceMappingURL=style.css.map */
