.breadcrumb {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    &-item {
        position: relative;
        + .breadcrumb-item {
            margin-left: 2.5rem;
        }

        &:first-child {
            font-size: 24px;
            font-weight: 800;
            line-height: 130%;
            color: #6d1d1d;
            &::before {
                content: "";
            }
        }
        &::before {
            content: "\276F";
            position: absolute;
            top: 50%;
            left: -1.75rem;
            transform: translateY(-50%);
            font-size: 16px;
            color: #000;
        }
        &:last-child {
            user-select: none;
            pointer-events: none;
        }
    }
}

.box-inner {
    display: flex;
    gap: 40px;

    .box-left {
        flex: 1;
    }
    .box-right {
        flex-shrink: 0;
        width: 300px;
    }
}
.pagination {
    &-item {
        + .pagination-item {
            margin-left: 8px;
        }
        &.active {
            .pagination-link {
                background-color: #993333;
                color: #fff;
            }
        }
    }
    &-link {
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid #f2f2f2;
        background-color: transparent;
        transition: all 0.2s;
        &:hover {
            background-color: #993333;
            color: #fff;
        }
    }
}
.most-read {
    &__list {
        .most-read__item {
            border-bottom: 1px solid #e0e0e0;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        .most-read__number {
            flex-shrink: 0;
        }
        .most-read__content {
            flex: 1;
        }
    }
}

.cmt-box-cate {
    &__img {
        flex-shrink: 0;
        margin-top: 4px;
        img {
            width: 18px;
            height: auto !important;
        }
    }
}
.cate-primary {
    .article__large {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;

        .article__img {
            grid-column: 1/3;
        }
    }

    .article__small {
        grid-gap: 25px;
    }

    padding-bottom: 24px;
    border-bottom: 5px solid #f0eff4;
}

.cate-secondary {
    .articles {
        .article {
            border-bottom: 1px solid #e0e0e0;
        }
    }
    .top {
        padding: 20px;
        background-color: #ffe0b5;
    }
}

.buddhist-dictionary {
    padding: 20px;
    background-color: #f0eff4;
    .alphabet {
        flex-wrap: wrap;
    }

    &__input {
        background-color: #fff;
        border: 1px solid #f5d3c8;
        padding: 10px;
        width: 100%;
        font-size: 16px;
    }

    &__btn {
        display: flex;
        margin: 20px auto 0;
    }
}

.buddhist-data {
    padding: 20px;
    background-color: #f0eff4;

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }
    &__item {
        text-align: center;
    }
    &__img {
        img {
            height: 48px;
            width: auto !important;
            margin: auto;
        }
    }
    &__title {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
    }
}

.video-primary {
    &__container {
        display: flex;
        gap: 40px;
        padding-bottom: 24px;
        border-bottom: 5px solid #f0eff4;
        margin-bottom: 20px;

        .article__large {
            flex: 1;
        }
        .article__small {
            flex-shrink: 0;
            width: 300px;
        }
    }
}
